@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<ecommerce.Context.User>

@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="page_title">Quản lý Tài khoản</h2>
                        <hr />
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div class="col-xl-6 col-lg-5 col-md-6">

                                <form action="#" class="search-header">
                                    <div class="input-group w-100">
                                        <input type="text" name="SearchString" class="form-control" placeholder="Bạn cần tìm gì?">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-search"></i> Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </form> <!-- search-wrap .end// -->
                            </div> <!-- col.// -->

                            <div style="display: flex; justify-content: flex-start; align-items: center;">
                                <button class="btn btn-success" style="margin-bottom: 10px; margin-top: 10px; margin-right:3px;">
                                    <a href=" @Url.Action("Create")" style="color: #fff;"><i class="fas fa-plus"></i>&nbsp; Thêm</a>
                                </button>
                            </div>
                        </div>
                        <div class="card overflow-auto">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdmin)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsAdmin)
                                        </td>
                                        <td>
                                            <button class="btn btn-warning" style="width: 42px;">
                                                <a href=" @Url.Action("Edit", new { id = item.Id })" style="color: #fff;"><i class="far fa-edit"></i></a>
                                            </button>
                                            <button class="btn btn-info" style="width: 42px;">
                                                <a href=" @Url.Action("Details", new { id = item.Id })" style="color: #fff;"><i class="fas fa-info-circle"></i></a>
                                            </button>
                                            <button class="btn btn-danger" style="width: 42px;">
                                                <a href=" @Url.Action("Delete", new { id = item.Id })" style="color: #fff;"><i class="far fa-trash-alt"></i></a>
                                            </button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong @Model.PageCount
                        <div id="contentPager">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
